<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome,  {{name}}!</h1>
        <div class="add_favorite">
            <form action="/add" method="POST">
                {% csrf_token %}
                <h2>Add a Favorite Book</h2>
                <p>Title: <input type="text" name="title"></p>
                <p>Description:</p>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="book_id" value="{{book.id}}">
                <input type="submit" value="ADD">
            </form>
        </div>
        <div class="all_books"><a class="logout" href="/logout">Log Out</a>
            <h2>All Books</h2>
                {% for book in books %}
                <a href="/edit/{{book.id}}">{{book.title}}</a>
                <p>(added by  {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}})</p> 

                {% if book in user.liked_books.all %}
                    <p>this in one of your favorite</p>
                {% else %}
                <form action="/add_book" method="POST">    
                    {% csrf_token %}  
                    <input type="hidden" name="agregar" value="{{book.id}}">
                    <input type="submit"  name="" value="Add a Favorite"><BR></BR>
                </form> 
                {% endif %}

                {% endfor %}           
        </div>
    </div>
</body>
</html>